@tailwind base;
@tailwind components;
@tailwind utilities; 


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-bg-color: rgb(199, 199, 199);
  --secondary-bg-color: yellow;
  --header-bg-color: rgb(0, 0, 0);
  --title-bg-color: rgb(0, 0, 0);
  --title-image-bg-color: rgb(102, 44, 156);
  --primary-text-color: white;
--mid-grey: rgb(100, 100, 100);
--info-color: rgb(1, 147, 225);
 
}

body {
  display: grid;
  grid-template-columns: 5% 45% 45% 5%;
  grid-template-rows: auto auto auto auto;
  height: 100vh;
  max-width: 1350px;
  margin: 0 auto;
  background-color: rgb(193, 193, 193);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.background {
  grid-column: 2 / 4;
  grid-row: 1 / 4;
  background-color: rgb(0, 0, 0);
  height: 100vh;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: rgb(0, 0, 0);
  height: 20vh;
  padding: 0px;
  display: flex;
  flex-direction: row;
width: 100%;
}

.title {
  grid-column: 2/3;
  background-color: rgb(0, 0, 0);
  width: 50%;
  padding: 10px 0 10px 0px;
  z-index: 1;
}

.title-image {
  grid-column: 3 / 4;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin-left: auto;
  object-fit: contain; /* maintain aspect ratio */
  width: 100%;
  height: auto; /* maintain aspect ratio */
  max-height: 250px; /* matches header height */
  /* object-position: center; */
  z-index: 0;
}


h1{
  font-size: 4vw;
  color: white;
  text-align: center;
  white-space: nowrap;
padding: 0px 0 0 10px;
 
  }

h2 {
  font-size: 3vw;
  color: rgb(204, 204, 204);
  text-align: right;
  white-space: nowrap;
  padding: 20px;
  height: auto;
 }

p {
  color: white;
  text-align: left;
}

a {
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

a:hover {
  color: var(--info-color);
}

.nav {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  background-color: rgb(102, 44, 156);
  display: flex;
  flex-direction: row;
  padding: 0;
  color: white;
  max-height: 5vh;
  width: 100%;
  align-items: center;
}

.nav-item {
  padding: 10px;
  background-color: rgb(52, 52, 52);
  font-size: 1rem;
  text-align: center;
  width: 100%;
}

.nav-item:hover {
  background-color: rgb(68, 68, 68);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.main-area {
  /* grid-row: 3 / 4; */
  /* background-color: rgb(210, 34, 34); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 66vh;
  overflow: hidden;
}

.potspics {
  /* background-color: orange; */
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  /* max-width: 1000px; */
  width: 100%;
  height: 100%;

}



.footer {
  grid-column: 2 / 4;
  grid-row: 4 / 5;
  background-color: var(--primary-bg-color);
  width: 100%;
  padding: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 0.8rem;
  font-weight: lighter;
  height: 4vh;
  overflow: hidden;
}

.fade {
  animation: ease 1s;
}

.arrow-container {
  display: flex;
  margin-top: auto;
  width: 50%;
  /* height: auto; */
  margin: 0 auto 0 auto;
  position: fixed;
  bottom: 5vh;
    left: 0;
  right: 0;
}

.arrow-item {
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}

.arrow-item:hover {
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}
  

  .contact {
    background-color: var(--mid-grey);
    height: 60vh;
  }

.contact-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.leftside {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: left;
  padding: 20px;
}

.rightside {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
